<script>
  window.twttr = (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  })(document, "script", "twitter-wjs");
</script>

<div class="card" style="width: 18rem" (click)="open(content)">
  <img
    class="card-img-left"
    src="{{ article.urlToImage }}"
    alt="Image for news"
  />
  <div class="card-body">
    <!-- <h5 class="card-title">Card title</h5> -->
    <p class="card-text">
      {{ article.title }}
    </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ article.source.name }}
    </h4>
    <p>{{ article.publishedAt }}</p>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h2>{{ article.title }}</h2>
  <p>{{ article.description }}</p>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <p class="card-text">Share</p>
      <a
        target="_blank"
        class="twitter-share-button"
        href="https://twitter.com/intent/tweet"
        data-size="large"
        data-text="{{ article.title }}"
        data-url="{{ article.url }}"
      >
        Tweet
      </a>
    </div>
  </div>
</ng-template>
