<!-- <script
  type="text/javascript"
  async
  src="https://platform.twitter.com/widgets.js"
></script> -->

<!-- <div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="card" style="width: 18rem" (click)="open(content)">
  <img
    class="card-img-left"
    src="{{ article.urlToImage }}"
    alt="Image for news"
  />
  <div class="card-body">
    <!-- <h5 class="card-title">Card title</h5> -->
    <p class="card-text">
      {{ article.title }}
    </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ article.source.name }}
    </h4>
    <p>{{ article.publishedAt }}</p>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h2>{{ article.title }}</h2>
  <p>{{ article.description }}</p>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <p class="card-text">Share</p>
      <!-- <div
        class="fb-share-button"
        data-href="https://www.your-domain.com/your-page.html"
        data-layout="button_count"
      ></div> -->
      <!-- <div
        class="fb-share-button"
        data-href="https://developers.facebook.com/docs/plugins/"
        data-layout="button"
        data-size="large"
        style="float: left"
      >
      </div> -->
      <a
        target="_blank"
        href="{{ article.fb_link }}"
        class="fb-xfbml-parse-ignore"
        style="float: left"
        ><i class="fa fa-facebook-square"></i>
      </a>
      <a
        target="_blank"
        class="twitter-share-button"
        href="{{ article.twitter_link }}"
        data-size="large"
      >
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</ng-template>
