<!-- <script
  type="text/javascript"
  async
  src="https://platform.twitter.com/widgets.js"
></script> -->

<!-- <div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="card news-card mt-4 align" (click)="open(content)">
  <div class="card-body">
    <img class="align-items-start mr-3 mb-1" src="{{ article.urlToImage }}" />
    <p class="card-title">{{ article.title }}</p>
  </div>

  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="title">
      <h1 class="modal-title mb-0" id="modal-basic-title">
        {{ article.source.name }}
      </h1>
      <p style="color: #76767d">
        {{ article.publishedAt | date: "longDate" }}
      </p>
    </div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="mb-1" style="font-size: 1.1rem; font-weight: 600">
      {{ article.title }}
    </p>
    <p class="mt-0 mb-0">{{ article.description }}</p>
    <p class="mt-0 mb-5" style="color: #6b6868">
      For more details click <a href="{{ article.url }}">here</a>
    </p>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Share</p>
        <a
          target="_blank"
          href="{{ article.fb_link }}"
          class="fb-xfbml-parse-ignore"
          style="float: left"
          ><i class="fa fa-facebook-square mr-2"></i>
        </a>
        <a
          target="_blank"
          class="twitter-share-button"
          href="{{ article.twitter_link }}"
          data-size="large"
        >
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<!-- <div
        class="fb-share-button"
        data-href="https://www.your-domain.com/your-page.html"
        data-layout="button_count"
      ></div> -->
<!-- <div
        class="fb-share-button"
        data-href="https://developers.facebook.com/docs/plugins/"
        data-layout="button"
        data-size="large"
        style="float: left"
      >
      </div> -->
