<div class="container">
  <h1 class="mb-5 title">My Portfolio</h1>
  <div class="row justify-content-center">
    <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
  </div>
  <div class="row">
    <div class="col">
      <div
        class="alert alert-warning"
        *ngIf="emptyStockList === true"
        role="alert"
      >
        Currently you don't have any stock.
      </div>

      <div class="card text-center mb-3" *ngFor="let stock of stockList">
        <app-portfolio-card
          [stock]="stock"
          [market]="market"
          (notify)="updatePortfolio($event)"
        ></app-portfolio-card>
      </div>
    </div>
  </div>
</div>
