<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ ticker }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form">
      <div class="form-group">
        <p>Current Price: {{ last | number: "1.2-2" }}</p>
        <label for="quantity">Quantity</label>
        <div class="input-group">
          <input
            name="quantity"
            [formControl]="quantityControl"
            type="number"
            class="form-control"
            value="0"
            min="0"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <p style="float: left">Total: {{ total | number: "1.2-2" }}</p>
    <button
      id="buy_form"
      type="button"
      class="btn btn-success disabled"
      (click)="modal.close('Save click')"
      disabled
    >
      Buy
    </button>
  </div>
</ng-template>
<button *ngIf="primary" class="btn btn-primary mr-3" (click)="open(content)">
  Buy
</button>
<button *ngIf="!primary" class="btn btn-success" (click)="open(content)">
  Buy
</button>
