/* .alert {
  width: 100%;
  text-align: center;
} */

.row-one {
  font-size: 2.5rem;
}

.row-two {
  font-size: 2rem;
  color: #76767d;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
}

.row-three {
  font-size: 0.8rem;
}

.summary {
  text-align: center;
}

.prices p {
  margin: 0.1rem;
}

.news-card {
  background-color: #fafafa;
  cursor: pointer;
}

/* .mat-tab {
  max-width: 100%;
  overflow-x: hidden;
} */
