<div class="container">
  <div class="row">
    <div
      id="remove_from_list"
      style="display: none"
      class="alert alert-danger alert-dismissible"
      role="alert"
    >
      {{ tickerTitle }} removed from Watchlist.
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      id="add_to_list"
      style="display: none"
      class="alert alert-success alert-dismissible"
      role="alert"
    >
      {{ tickerTitle }} added to Watchlist.
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>{{ tickerTitle }}</h1>
      <app-star [ticker]="ticker"></app-star>
      <p style="float: none">{{ name }}</p>
      <p>{{ exchangeCode }}</p>
      <app-buy [ticker]="ticker" [lastPrice]="lastPrice"></app-buy>
    </div>
    <div class="col">
      {{ lastPrice }} <br />{{ change }} ({{ changePercent }}%)
    </div>
  </div>
  <div class="row">
    <mat-tab-group animationDuration="0ms">
      <!-- <mat-tab label="First"
      >{{ startDate }} {{ description }}
      <app-detailschart [ticker]="ticker"></app-detailschart
    ></mat-tab> -->
      <mat-tab label="Second">
        <div class="news_tab">
          <div class="row">
            <div class="col">
              <table style="float: left">
                <tr *ngFor="let article of articles; index as i">
                  <td *ngIf="i % 2">{{ article.title }} {{ i }}</td>
                </tr>
              </table>
            </div>
            <div class="col">
              <table>
                <tr *ngFor="let article of articles; index as i">
                  <td *ngIf="!(i % 2)">{{ article.title }} {{ i }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Third"><app-chart [ticker]="ticker"></app-chart></mat-tab> -->
    </mat-tab-group>
  </div>
</div>
