<div class="row justify-content-center">
  <mat-spinner [diameter]="50" *ngIf="loading && !invalid_ticker"></mat-spinner>
</div>

<div class="container justify-content-center" *ngIf="invalid_ticker">
  <div class="alert alert-danger" role="alert">
    No results found. Please enter valid Ticker
  </div>
</div>

<div class="container" *ngIf="!loading">
  <div class="row justify-content-center">
    <div
      id="remove_from_list"
      style="display: none"
      class="alert alert-danger alert-dismissible"
      role="alert"
    >
      {{ stock.ticker }} removed from Watchlist.
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      id="add_to_list"
      style="display: none"
      class="alert alert-success alert-dismissible"
      role="alert"
    >
      {{ stock.ticker }} added to Watchlist.
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      id="bought"
      style="display: none"
      class="alert alert-success alert-dismissible"
      role="alert"
    >
      {{ stock.ticker }} bought successfully!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <!-- Top -->

  <div class="row row-one mt-2">
    <div class="col">
      <p style="float: left; padding-right: 0.3rem">{{ stock.ticker }}</p>
      <app-star [ticker]="stock.ticker"></app-star>
    </div>
    <div class="col text-right" style="color:{{ marketColor }}">
      {{ stock.last | number: "1.2-2" }}
    </div>
  </div>

  <div class="row row-two">
    <div class="col">
      <p style="text-align: left">{{ stock.name }}</p>
    </div>
    <div class="col text-right" style="color:{{ marketColor }}">
      <svg
        width="0.6em"
        height="0.6em"
        viewBox="0 0 16 16"
        class="bi bi-caret-down-fill"
        fill="#f31100"
        xmlns="http://www.w3.org/2000/svg"
        *ngIf="color === 'r'"
      >
        <path
          d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        />
      </svg>
      <svg
        width="0.6em"
        height="0.6em"
        viewBox="0 0 16 16"
        class="bi bi-caret-up-fill"
        fill="#297f00"
        xmlns="http://www.w3.org/2000/svg"
        *ngIf="color === 'g'"
      >
        <path
          d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
        />
      </svg>
      {{ stock.change | number: "1.2-2" }} ({{
        stock.changePercent | number: "1.2-2"
      }}%)
    </div>
  </div>
  <div class="row row-three">
    <div class="col">
      <p>{{ stock.exchangeCode }}</p>
    </div>
    <div class="col text-right">
      <p>{{ stock.currentDate }}</p>
    </div>
  </div>
  <div class="row">
    <app-buy
      style="padding-left: 15px"
      [ticker]="stock.ticker"
      [last]="stock.last"
      [market]="market"
      (notify)="showBoughtBanner($event)"
    ></app-buy>
  </div>
  <div class="row justify-content-center mt-2 mb-3">
    <div *ngIf="market">
      <p style="background-color: #d7edda">Market is Open</p>
    </div>
    <div *ngIf="!market">
      <p style="background-color: #f5d7d9">{{ market_closed }}</p>
    </div>
  </div>

  <!-- Tabs -->
  <mat-tab-group mat-stretch-tabs animationDuration="0ms">
    <!-- <mat-tab label="Summary">
      <div class="row summary">
        <div class="col">
          <div class="row mt-4 mb-5">
            <div class="col prices">
              <p>High Price: {{ stock.high }}</p>
              <p>Low Price: {{ stock.low }}</p>
              <p>Open Price: {{ stock.open }}</p>
              <p>Prev. Close: {{ stock.prevClose }}</p>
              <p>Volume: {{ stock.volume }}</p>
            </div>
            <div class="col prices" *ngIf="market">
              <p *ngIf="stock.mid">Mid Price: {{ stock.mid }}</p>
              <p *ngIf="!stock.mid">Mid Price: -</p>
              <p>Ask Price: {{ stock.askPrize }}</p>
              <p>Ask Size: {{ stock.askSize }}</p>
              <p>Bid Price: {{ stock.bidPrice }}</p>
              <p>Bid Size: {{ stock.bidSize }}</p>
            </div>
          </div>
          <h2>Company's Description</h2>
          <p style="text-align: left">Start Date: {{ stock.startDate }}</p>
          <p style="text-align: left">{{ stock.description }}</p>
        </div>
        <div class="col">
          <app-detailschart
            [ticker]="stock.ticker"
            [timestamp]="stock.timestamp"
            [color]="color"
          ></app-detailschart>
        </div>
      </div>
    </mat-tab> -->

    <mat-tab label="Top News">
      <div class="news_tab">
        <div class="row">
          <div class="col">
            <div *ngFor="let article of articles; index as i">
              <div *ngIf="i % 2">
                <app-news [article]="article"></app-news>
              </div>
            </div>
          </div>
          <div class="col">
            <div *ngFor="let article of articles; index as i">
              <div *ngIf="!(i % 2)">
                <app-news [article]="article"></app-news>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Charts">
      <!-- <app-chart [ticker]="ticker"></app-chart> -->
    </mat-tab>
  </mat-tab-group>
</div>
