<div class="center">
  <div class="container mt-5">
    <div class="row title justify-content-center">
      <div class="col-xs-6 mr-3 mb-5">Stockkr</div>
    </div>
    <div class="row mt-5 justify-content-center">
      <form>
        <div class="search-box">
          <input
            type="text"
            placeholder="Search companies..."
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            [(ngModel)]="query"
          />

          <!-- <button type="submit" (click)="loadDetails()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button> -->
        </div>

        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="loadDetails($event.option.value.ticker)"
        >
          <mat-option *ngIf="isLoading" class="is-loading"
            ><mat-spinner diameter="20"></mat-spinner
          ></mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let stock of filteredOptions" [value]="stock">
              <span>{{ stock.ticker }}</span>
              <small> | {{ stock.name }}</small>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </form>
    </div>
  </div>
</div>
