<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <div class="input-group">
        <input
          class="form-control py-2 rounded-pill mr-1 pr-5"
          placeholder="Enter stock name"
          type="text"
          value=""
          [formControl]="myControl"
          [matAutocomplete]="auto"
          matInput
        />
        <span class="input-group-append">
          <button class="btn rounded-pill border-0 ml-n5" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <!-- <input
        type="text"
        placeholder="Enter stock name"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      /> -->
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading"
          ><mat-spinner diameter="20"></mat-spinner
        ></mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let stock of filteredOptions" [value]="stock">
            <span>{{ stock.ticker }}</span>
            <small> | {{ stock.name }}</small>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Enter stock name"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading"
          ><mat-spinner diameter="50"></mat-spinner
        ></mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let stock of filteredStocks" [value]="stock">
            <span>{{ stock.ticker }}</span>
            <small> | {{ stock.name }}</small>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
