.nav-container {
  margin-bottom: 3rem;
}

.navbar-purple {
  background-color: #6f4efb;
}

.active > .nav-link {
  /* color: white; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-right: 1.4em;
  padding-left: 1.4em;
  /* padding-top: 0.8em; */
  border: 0.15em solid white;
}

a {
  cursor: pointer;
}

li {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  padding-right: 1em;
}
