.navbar-light {
  background-color: #6f4efb;
}

.navbar-brand {
  color: white;
}

.active > .nav-link {
  color: white;
  /* padding-right: 1em;
  padding-left: 1em;
  border: 0.15em solid white;
  border-radius: 20%; */
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
